.game-article {
    display: grid;
    grid-template-rows: 1fr 5fr;
    justify-items: center;
}

.game-article .current-round {
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
}

.game-article .contents {
    /* justify-self: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 60%; */
}

.game-article .contents .avatar-img {
    width: 100px;
    height: 100px;
}

.game-article .contents .div-player-x {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-article .contents .div-player-o {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-article .game-board {
    display: grid;
    grid: Board;
    width: 350px;
    height: 350px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    background-color: black;
    border-radius: 5px;
}

.game-article .game-board .square {
    background-color: White;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-article .game-board .square:hover {
    background-color: #ccc;
}

.game-article .game-board .square .symbol {
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
}