#game-page {
    display: grid;
    grid-template-rows: 1fr 5fr;
    justify-items: center;
}

#game-page .current-round {
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
}

#game-page .container {
    /* justify-self: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 60%; */
}

#game-page .container .avatar-img {
    width: 100px;
    height: 100px;
}

#game-page .container .turn-indicator {
    width: 50px;
    height: 50px;
}

#game-page .container .hidden {
    visibility: hidden;
}

#game-page .container .div-player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-page .container .player-wins {
    font-size: 30px;
    font-weight: bold;
    padding: 0px;
    margin: 16px 0px;
}

#game-page .container .player-name {
    margin: 16px 0px;
    padding: 0px;
    font-size: 30px;
    font-weight: bold;
}

#game-page .container .forfeit {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    background-color: #fff;
    border: 5px solid black;
    border-radius: 10px;
    cursor: pointer;
}

#game-page .container .forfeit:hover {
    background-color: #ccc;
}


#game-page .game-board {
    display: grid;
    grid: Board;
    width: 350px;
    height: 350px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    background-color: black;
    border-radius: 5px;
}

#game-page .game-board .square {
    background-color: White;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-page .game-board .square:hover {
    background-color: #ccc;
}

#game-page .game-board .square .symbol {
    width: 50%;
    height: 50%;
    padding: 0px;
    margin: 0px;
}