#home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    row-gap: 60px;
}

#home-page .container {
    display: flex;
    column-gap: 50px;
}

#home-page .container .vs-div {
    display: flex;
    align-items: center;
}

#home-page .container .vs-div p {
    font-size: 32px;
    padding: 0px;
    margin: 0px;
}

#home-page .container .player {
    width: 400px;
}

#home-page .container .player .player-title {
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    text-align: center;
}

#home-page .container .player .player-boarder {
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "avatar inputs";
    column-gap: 20px;
}

#home-page .container .player .player-boarder .avatar-btn {
    grid-area: "avatar";

    background-color: #fff;
    border: 5px solid black;
    border-radius: 10px;
    cursor: pointer;

    width: 100px;
    height: 100px;

    padding: 10px;
}

#home-page .container .player .player-boarder .avatar-btn:hover {
    background-color: rgb(216, 214, 214);
}

#home-page .container .player .player-boarder .avatar-btn img {
    width: 100%;
    height: 100%;
}

#home-page .container .player .player-boarder .inputs {
    grid-area: "inputs";
    display: grid;

    row-gap: 5px;
}

#home-page .container .player .player-boarder .inputs input {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    width: calc(100% - 5px);
    padding: 0px;
    padding-left: 5px;
    margin: 0px;
}

#home-page .container .player .player-boarder .inputs select {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
    padding: 0px;
    padding-left: 2px;
    margin: 0px;
}

#home-page .container .player .player-boarder .inputs input[type="color"] {
    width: 25px;
    padding: 0px;
    margin: 0px;
    /* background-color: rgba(255, 255, 255, 0.0); */
    /* border: none; */
}

#home-page .container .player .player-boarder .inputs .div-color {
    display: flex;
    align-items: center;
}

/* Play Button */
#home-page button {
    width: 200px;
    height: 60px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: white;

    font-size: 32px;

    cursor: pointer;

    align-self: center;
}

#home-page button:hover {
    background-color: #ccc;
}